@mixin textos-circulos
	position: absolute
	padding-top: 45px
	font-family: "Open Sans", sans-serif
	font-weight: 800
	color: white
	z-index: 1
	font-size: 19px
	display: none

#fondo-negro
	background-color: #292929
	height: 70px
	position: fixed
	z-index: 1

	.logo
		position: fixed
		padding-left: 20px
		padding-top: 6px

	.centrar-botones
		text-align: center

		.bloque-botones
			padding-top: 28px

			.botones-header
				margin-top: 10px
				color: white
				font-weight: 600
				font-family: "Open Sans", sans-serif
				&:hover
					font-weight: 800
					text-decoration: none
					color: white

			.btn-izq
				margin-right: 10px

			.btn-der
				margin-left: 10px

#anchototal
	padding: 0 0px
	
	#fondo-foto
		background-color: white

		.foto-perfil
			text-align: center
			margin-top: 90px
			margin-bottom: 40px
			img
				border-radius: 100%
				margin-top: 41px
				transition: all 1.3s cubic-bezier(.68,-0.55,.27,1.55) 0s
				&:hover
					transform: scale(1.25)


	#fondo-jumbotron
		font-family: "Open Sans", sans-serif
		margin-top: -30px
		margin-bottom: 35px

		.hola-jumbotron
			font-size: 120px
			margin-bottom: 43px
			text-align: center

		.texto-jumbotron
			font-size: 19px
			font-weight: 300
			text-align: center

	.fondo-gris
		background-image: url(./img/background-edificiosgris.jpg)
		background-repeat: no-repeat
		background-attachment: fixed
		height: 400px
		background-size: cover
		clear: both

	.fondo-edificios
		background-image: url(./img/background-edificios.jpg)
		background-repeat: no-repeat
		background-attachment: fixed
		/*box-shadow: 0px 0px 25px #424242*/
		height: 400px
		background-size: cover

	.article-circulos
		margin-top: 80px
		margin-left: 125px
		margin-right: 75px

		.row:first-child
			margin-bottom: 40px

		h3
			font-family: "Open Sans", sans-serif
		ul
			font-family: "Open Sans", sans-serif
			font-weight: 300


	.ajuste-circulo
		width: 19%

	.circulo-contenido, .circulo-desarrollo, .circulo-investigacion, .circulo-marca
		background-color: #E1E1E1
		border-radius: 100%
		width: 115px
		height: 115px
		margin-right: 10px
		position: relative
		display: inline-block
		&:hover
			opacity: 0.5
			background-color: #0CB8B1
		&:hover .texto-contenido
			display: inline
		&:hover .texto-web
			display: inline
		&:hover .texto-investigacion
			display: inline
		&:hover .texto-marca
			display: inline

		.texto-contenido
			padding-left: 7px
			@include textos-circulos
		
		.texto-web
			padding-left: 36px
			@include textos-circulos

		.texto-investigacion
			padding-left: 12px
			@include textos-circulos

		.texto-marca
			padding-left: 26px
			@include textos-circulos

		img
			position: absolute
			padding-left: 25px
			padding-top: 25px

	#fondo-vamos
		margin-top: 50px
		background-image: url(./img/fondo-acuarela.jpg)
		background-repeat: no-repeat
		background-attachment: fixed
		height: 400px
		background-size: cover
		text-align: center

		.titulo-vamos
			font-size: 85px
			padding-top: 65px
			font-family: "Open Sans", sans-serif

		.bajada-vamos
			font-family: "Open Sans", sans-serif
			font-size: 18px
			padding-top: 10px

		.boton-vamos
			width: 115px
			height: 50px
			border-radius: 10%
			background-color: #0CB8B1
			display: inline-block
			margin-top: 10px
			&:hover
				border: 1px solid white

			.texto-boton
				font-family: "Open Sans", sans-serif
				color: white
				font-size: 18px
				text-decoration: none
				margin-top: 10px
				font-weight: 800
				display: inline-block

	#foot
		height: 100px
		background-color: #292929


/* AQUÍ COMIENZA GALERIA.HTML */

